<nav class="teal">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">BabySwap</a>
        <ul id="nav-mobile" class="right">
            <li <%- title === 'Dashboard' ? 'class="active"' : '' %>><a id="dashboard-menu" href="/dashboard">Dashboard</a></li>
            <li <%- title === 'My Posts' ? 'class="active"' : '' %>><a id="my-posts-menu" href="/my-posts" style="display: none;">My Posts</a></li>
            <li <%- title === 'Register' ? 'class="active"' : '' %>><a id="register-menu" href="/register">Register</a></li>
            <li <%- title === 'Login' ? 'class="active"' : '' %>><a id="login-menu" href="/login">Login</a></li>
            <li><a id="logout-menu" href="#">Logout</a></li>
        </ul>
    </div>
</nav>