<% layout('layout') -%>

<div class="account-form-container">
    <!-- View Account Details -->
    <div id="accountDetails">
        <h4>Account Details:</h4>
        <p><strong>Name:</strong> <span id="accountName"></span></p>
        <p><strong>Email:</strong> <span id="accountEmail"></span></p>
        <p><strong>Points:</strong> <span id="accountPoints"></span></p>
    </div>

    <!-- Edit and Delete Account Buttons -->
    <div class="button-container">
        <button id="editAccountBtn" class="btn" type="button">Edit</button>
        <button id="deleteAccountBtn" class="btn teal lighten-2">Delete Account</button>
    </div>

    <!-- Update Account Details -->
    <form id="updateForm" class="col s6" style="display: none;">
        <input type="text" class="validate" name="username" id="editName" placeholder="New Name" />
        <input type="email" class="validate" name="email" id="editEmail" placeholder="New Email" />
        <button type="submit" id="updateBtn" class="btn">Submit</button>
        <button type="button" id="cancelBtn" class="btn red lighten-2">Cancel</button>
    </form>
</div>

<!-- Error Modal -->
<div id="errorModal" class="modal">
    <div class="modal-content">
        <h4>Error</h4>
        <p id="errorMessage">Unable to retrieve account details. Please try again.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>