<% layout('layout') -%>

<div class="account-form-container">
    <!-- View Account Details -->
    <div id="accountDetails">
        <h4>Account Details:</h4>
        <p><strong>Name:</strong> <span id="accountName"></span></p>
        <p><strong>Email:</strong> <span id="accountEmail"></span></p>
        <p><strong>Points:</strong> <span id="accountPoints"></span></p>
    </div>

    <!-- Update Account Details -->
    <h4>Update Account</h4>
    <form id="updateForm" class="col s6">
        <input type="text" name="name" placeholder="New Name" />
        <input type="email" name="email" placeholder="New Email" />
        <button type="submit" class="btn modal-trigger">Update</button>
    </form>

    <!-- Delete Account -->    
     <div class="row">
    <button id="deleteAccountBtn" class="btn modal-trigger teal lighten-2">Delete Account</button>
    </div>
</div>