<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    
    <main class="container">
        <div id="login-form" class="login-form-container">
            <form class="col s6 login-form">
                <h3>Login</h3>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <a id="login-button" class="waves-effect waves-light btn">Login</a>
            </form>
        </div>
    </main>
  </body>
</html>
