<% layout('layout') -%>

<div class="login-form-container">
  <form class="col s6 login-form">
    <h3>Login</h3>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>
    <button id="login-button" class="waves-effect waves-light btn" type="submit">Login</button>
  </form>
</div>
