<% layout('layout') -%>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>My Posts</h3>
      <p>View your babysitting posts</p>

      <div class="row">
        <div class="col s12">
          <a
            href="/dashboard"
            class="btn waves-effect waves-light blue lighten-2"
          >
            <i class="material-icons left">arrow_back</i>
            Back to Dashboard
          </a>
        </div>
      </div>

      <!-- Posts Section -->
      <div class="row" id="postsContent"></div>
    </div>
  </div>
</div>
