<% layout('layout') -%>
<div class="row">
  <div class="row">
    <div class="col s12">
      <h3>My Posts</h3>
      <p>View your babysitting posts</p>

      <!-- Posts Section -->
      <div class="row" id="postsContent"></div>
    </div>
  </div>
</div>
