<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posts</title>
    <link rel="stylesheet" href="/css/viewpost.css"> 
</head>
<body>
    <nav>
        Job Posts
    </nav>

    <div class="container">
        <div class="row" id="post-list">
            <!-- Posts are dynamically added -->
        </div>
    </div>

    
    <script src="/js/viewpost.js"></script>
</body>
</html>
